header {
  position: sticky;
  top: 0;
  z-index: 10;
}

button {
  padding-right: 10px;
  padding-left: 10px;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  text-align: start;
}

h2 {
  font-family: 'Garamond', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: clamp(12px, 2vw, 25px);
}

h2:hover {
  opacity: 70%;
}

.jana-selfie {
  position: absolute;
  top: 40%;
  left: 45%;
  max-width: 8%;
}

.txt-area,
.txt-area-contact,
.txt-area-works,
.txt-area-exhibitions {
  font-family: 'Garamond', Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 0.9em 0.5em 0.5em 0.5em;
  font-weight: bolder;
  transform: scale(1);
  pointer-events: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
  line-height: 1.1em;
}

ul {
  list-style: none;
}

.txt-area {
  background-color: rgb(191, 139, 239);
  position: relative;
  top: 0;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  font-size: 4vw;
}

.txt-area-works {
  background-color: rgb(58, 95, 59);
  position: absolute;
  top: 0;
  right: 10px;
  width: 30vw;
  height: 120vh;
  overflow: hidden;
  font-size: 2vw;
}

.txt-area-contact {
  background-color: rgb(182, 46, 46);
  position: absolute;
  top: 40vh;
  right: 35px;
  width: 65vw;
  height: 15vh;
  overflow: hidden;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.6em;
}

.txt-area-exhibitions {
  background-color: rgb(215, 219, 108);
  position: absolute;
  top: 30vh;
  left: 15vw;
  width: 40vw;
  height: 70vh;
  overflow: hidden;
  font-size: 2vw;
}

i {
  font-weight: lighter;
}

.hidden {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  /* Zabraňuje interakci s neviditelným prvkem */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.purple {
  color: rgb(191, 139, 239);
}

.orange {
  color: rgb(182, 46, 46);
}

.green {
  color: rgb(58, 95, 59);
}

.yellow {
  color: rgb(215, 219, 108);
}

footer {
  position: fixed;
  background-color: blue;
  margin-top: var(--img-gallery-margin);
  bottom: 0;
}

a.nav-link-about:link
{
   color: #000000;
   text-decoration: none;
}
a.nav-link-about:visited
{
   color: #000000;
   text-decoration: none;
}
a.nav-link-about:hover
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link-about:active
{
   color: #000000;
   text-decoration: none;
}

/*mobile screen wiev*/

@media screen and (max-width:800px) {

  .nav-btns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  h2 {
    font-size: 2vw;
  }

  .txt-area,
  .txt-area-contact,
  .txt-area-works,
  .txt-area-exhibitions {
    flex-direction: column;
    gap: 0px;
    font-size: clamp(12px, 2vw, 25px);
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    transform: none;
  }

  .hidden {
    display: none;
  }

  .txt-area-contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
